<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
        <h7 class="card-text" style="color:rgb(159, 236, 43)"><strong>URL Visitor count:</strong> <%= visits %></h7><br/>
        <h7 class="card-text" style="color:rgb(159, 236, 43)"><strong>Unique URL Visitor count:</strong> <%= uniqueVisits %></h7>

      </div>
      <div class="card-footer text-muted"></div>      
        <div class="card-header" style="color:grey">
          <div class="card-body">
            <h4 class="card-title" style="color:grey">Edit</h4>
              <form method="POST" action="/urls/<%= id %>?_method=PUT">
                <strong><label for="longURL">New URL:</label></strong>
                  <input type="text" id="longURL" name="longURL" placeholder="http://www.example.edu/">
                  <button class="btn btn-info">Submit</button>
              </form>
              <br/>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <table class="table table-responsive">
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" style="color:rgb(241, 153, 45)">Time of Visit</th>
                      <th scope="col" style="color:rgb(241, 153, 45)">Visitor_ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let data of timestamp) { %>
                      <tr>
                        <td><%= data[0] %></td>
                        <td><%= data[1] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                  </table>
                </div>
              </div> 
          </div>
        </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>